<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
    </header>
    <div class="container rounded my-3 py-1 bg-white">
      <div class="row">
        <div class="col">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
